In [5]:
import pandas as pd

chemin_Buchanan = "./../data/dictionary/1757_Buchanan-J.csv"
df_Buchanan = pd.read_csv(chemin_Buchanan, sep=";")
df_Buchanan

       nbSyll        pron origin warning remarques POS  lineId  pageId
0           3     aʹbăcus    NaN     NaN       NaN  n.     2.0      19
1           2      ăbăʹft    NaN     NaN       NaN  p.     3.0      19
2           3  ăbaiʹſănce     F.     NaN       NaN  n.     4.0      19
3           3    ābăʹndon     F.     NaN       NaN  v.     5.0      19
4           4  ābăʹndŏned    NaN     NaN       NaN  a.     6.0      19
...       ...         ...    ...     ...       ...  ..     ...     ...
15795       4  zōŏʹgrăphy     G.     NaN       NaN  n.    19.0     241
15796       4  zōŏʹphytès     G.     NaN       NaN  n.    20.0     241
15797       4  zōŏʹphŏric     G.     NaN       NaN  n.    21.0     241
15798       4  zōŏʹtŏmiſt     G.     NaN       NaN  n.    22.0     241
15799       3     zŏʹtĭcā     G.     NaN       NaN  n.    23.0     241

[15800 rows x 8 columns]

In [63]:
chemin_PronChar = "./../data/dictionary/Buchanan_PronChar_counts.csv" 
df_PronChar = pd.read_csv(chemin_PronChar, sep=";")
print("Max nb value", df_PronChar['char'].value_counts().max())
df_PronChar["graph"] = df_PronChar["graph"].fillna("")
df_PronChar

Max nb value 1

   char    occ graph
0     a   3207     a
1     ʹ  12725
2     b   2288     b
3     ă   4533     a
4     c   5500     c
..  ...    ...   ...
68    á      1     a
69    I      1     l
70    х      2     x
71    р      1     p
72    ï      1     i

[73 rows x 3 columns]

In [64]:
df_PronChar.graph[df_PronChar['char']=="á"].values[0]

'a'

In [67]:
def split_pron(pron, df_PronChar):
    df_PronChar
    
    message = ""
    for value in pron:
        res = df_PronChar.graph[df_PronChar['char']==value].values[0]
        message+=str(res)
    return message

In [69]:
df_Buchanan['resultat'] = df_Buchanan['pron'].apply(lambda x: split_pron(x, df_PronChar))

KeyboardInterrupt:

In [17]:
df_Buchanan

       nbSyll        pron origin warning remarques POS  lineId  pageId
0           3     aʹbăcus    NaN     NaN       NaN  n.     2.0      19
1           2      ăbăʹft    NaN     NaN       NaN  p.     3.0      19
2           3  ăbaiʹſănce     F.     NaN       NaN  n.     4.0      19
3           3    ābăʹndon     F.     NaN       NaN  v.     5.0      19
4           4  ābăʹndŏned    NaN     NaN       NaN  a.     6.0      19
...       ...         ...    ...     ...       ...  ..     ...     ...
15795       4  zōŏʹgrăphy     G.     NaN       NaN  n.    19.0     241
15796       4  zōŏʹphytès     G.     NaN       NaN  n.    20.0     241
15797       4  zōŏʹphŏric     G.     NaN       NaN  n.    21.0     241
15798       4  zōŏʹtŏmiſt     G.     NaN       NaN  n.    22.0     241
15799       3     zŏʹtĭcā     G.     NaN       NaN  n.    23.0     241

[15800 rows x 8 columns]