## 0. Import des librairies

In [1]:
import pandas as pd

## 1. Mot vedette

In [2]:
chemin_Buchanan = "./../data/dictionary/1757_Buchanan-J.csv"
df_Buchanan = pd.read_csv(chemin_Buchanan, sep=";")
df_Buchanan.head(10)

   nbSyll          pron origin warning remarques POS  lineId  pageId
0       3       aʹbăcus    NaN     NaN       NaN  n.     2.0      19
1       2        ăbăʹft    NaN     NaN       NaN  p.     3.0      19
2       3    ăbaiʹſănce     F.     NaN       NaN  n.     4.0      19
3       3      ābăʹndon     F.     NaN       NaN  v.     5.0      19
4       4    ābăʹndŏned    NaN     NaN       NaN  a.     6.0      19
5       2        ăbāsʹe     F.     NaN       NaN  v.     7.0      19
6       3  ăbāʹſ_e_ment     F.     NaN       NaN  n.     8.0      19
7       2        ăbăʹſh     F.     NaN       NaN  v.     9.0      19
8       2        ăbāʹte     F.     NaN       NaN  v.    10.0      19
9       3  ăbāʹt_e_ment     F.     NaN       NaN  n.    11.0      19

In [3]:
chemin_pron_char = "./../data/dictionary/Buchanan_PronChar_counts.csv" 
df_pron_char = pd.read_csv(chemin_pron_char, sep=";")
df_pron_char["graph"] = df_pron_char["graph"].fillna("")
df_pron_char

   char    occ graph
0     a   3207     a
1     ʹ  12725
2     b   2288     b
3     ă   4533     a
4     c   5500     c
..  ...    ...   ...
68    á      1     a
69    I      1     l
70    х      2     x
71    р      1     p
72    ï      1     i

[73 rows x 3 columns]

In [4]:
def split_pron(pron, df):    
    message = ""
    for value in pron:
        res = df.graph[df['char']==value].values[0]
        message+=str(res)
    return message

In [5]:
df_Buchanan['pron'].head(10).apply(lambda x: split_pron(x, df_pron_char))

0       abacus
1        abaft
2    abaisance
3      abandon
4    abandoned
5        abase
6    abasement
7        abash
8        abate
9    abatement
Name: pron, dtype: object

In [6]:
%%time
df_Buchanan['motVedette'] = df_Buchanan['pron'].apply(lambda x: split_pron(x, df_pron_char))

Wall time: 1min 14s

In [7]:
df_Buchanan

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus
1,2,ăbăʹft,NaN,NaN,NaN,p.,3.0,19,abaft
2,3,ăbaiʹſănce,F.,NaN,NaN,n.,4.0,19,abaisance
3,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon
4,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned
...,...,...,...,...,...,...,...,...,...
15795,4,zōŏʹgrăphy,G.,NaN,NaN,n.,19.0,241,zoography
15796,4,zōŏʹphytès,G.,NaN,NaN,n.,20.0,241,zoophytes
15797,4,zōŏʹphŏric,G.,NaN,NaN,n.,21.0,241,zoophoric
15798,4,zōŏʹtŏmiſt,G.,NaN,NaN,n.,22.0,241,zootomist
15799,3,zŏʹtĭcā,G.,NaN,NaN,n.,23.0,241,zotica

## 2. Pron Sampa

In [9]:
chemin_Bigi = "./../data/dictionary/2015_Bigi-B.dict" 
df_Bigi = pd.read_csv(chemin_Bigi, delimiter=" \[\] ", encoding="utf8", engine='python', names=['hwd','pronSampa'], skiprows=8 )
df_Bigi.head(5)

       hwd    pronSampa
0        a            @
1     a(2)           eI
2  a'ready  @ r\ E d i:
3      a's         eI z
4       a.           eI

In [10]:
df_final = df_Buchanan.merge(df_Bigi, left_on="motVedette", right_on="hwd")

In [75]:
df_final

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette,hwd,pronSampa
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus,abacus,{ b @ k @ s
1,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon,abandon,@ b { n d @ n
2,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned,abandoned,@ b { n d @ n d
3,2,ăbăʹſh,F.,NaN,NaN,v.,9.0,19,abash,abash,@ b { S
4,2,ăbāʹte,F.,NaN,NaN,v.,10.0,19,abate,abate,@ b eI t
...,...,...,...,...,...,...,...,...,...,...,...
10330,2,zĕʹnith,NaN,NaN,NaN,n.,11.0,241,zenith,zenith,z i: n @ T
10331,1,zĕſt,NaN,NaN,NaN,n.,13.0,241,zest,zest,z E s t
10332,1,zĭnk,NaN,NaN,NaN,n.,14.0,241,zink,zink,z I N k
10333,3,zōʹdĭac,NaN,NaN,NaN,n.,16.0,241,zodiac,zodiac,z @U 4 i: { k
10334,1,zōne,NaN,NaN,NaN,n.,18.0,241,zone,zone,z @U n

## 3. Pron IPA

In [11]:
chemin_sampa_ipa = "./../data/dictionary/sampa-ipa.txt" 
df_sampa_ipa = pd.read_csv(chemin_sampa_ipa, delimiter=" +", encoding="utf8", engine='python', names=['sampa','ipa'])
df_sampa_ipa.drop_duplicates(subset=['sampa'], keep='first', inplace=True)
df_sampa_ipa.head(5)

  sampa ipa
0     !   ꜜ
1    !\   ǃ
2     "   ˈ
3     %   ˌ
4     &   ɶ

In [12]:
def sampa2ipa(sampa, df):
    message = ""
    list_val_sampa = sampa.split(" ")
    for val in list_val_sampa:
        df_line = df[df['sampa']==val]
        if len(df_line==1):
            message += df_line.iloc[0]['ipa']
        else:
            message += '?'
    return message

In [53]:
df_final.head(10).apply(lambda x: sampa2ipa(x['pronSampa'], df_sampa_ipa),1)

0          æbəkəs
1         əbændən
2        əbændənd
3            əbæʃ
4            əb?t
5        əb?tmənt
6            æbiː
7            æbət
8      əbɹiːviː?t
9    əbɹiːviː?ʃən
dtype: object

In [14]:
%%time
df_final['pronIpa'] = df_final.apply(lambda x: sampa2ipa(x['pronSampa'], df_sampa_ipa),1)

Wall time: 1min 52s

In [54]:
df_final

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette,hwd,pronSampa,pronIpa
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus,abacus,{ b @ k @ s,æbəkəs
1,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon,abandon,@ b { n d @ n,əbændən
2,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned,abandoned,@ b { n d @ n d,əbændənd
3,2,ăbăʹſh,F.,NaN,NaN,v.,9.0,19,abash,abash,@ b { S,əbæʃ
4,2,ăbāʹte,F.,NaN,NaN,v.,10.0,19,abate,abate,@ b eI t,əb?t
...,...,...,...,...,...,...,...,...,...,...,...,...
10328,2,zĕʹnith,NaN,NaN,NaN,n.,11.0,241,zenith,zenith,z i: n @ T,ziːnəθ
10329,1,zĕſt,NaN,NaN,NaN,n.,13.0,241,zest,zest,z E s t,zɛst
10330,1,zĭnk,NaN,NaN,NaN,n.,14.0,241,zink,zink,z I N k,zɪŋk
10331,3,zōʹdĭac,NaN,NaN,NaN,n.,16.0,241,zodiac,zodiac,z @U 4 i: { k,zoʊɾiːæk
10332,1,zōne,NaN,NaN,NaN,n.,18.0,241,zone,zone,z @U n,zoʊn

## 4. Pron POS

In [41]:
def switch_pos(argument):
    switcher = {
        "n.": "noun",
        "a.": "adjective",
        "v.": "verb",
        "p.": "pronoun"
    }
    return switcher.get(argument, "?")

In [52]:
df_final["POS"].head(10).apply(lambda x: switch_pos(x))

0         noun
1         verb
2    adjective
3         verb
4         verb
5         noun
6         noun
7         noun
8         verb
9         noun
Name: POS, dtype: object

In [45]:
%%time
df_final["pronPos"] = df_final["POS"].apply(lambda x: switch_pos(x))

Wall time: 0 ns

In [46]:
df_final

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette,hwd,pronSampa,pronIpa,pronPos
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus,abacus,{ b @ k @ s,æbəkəs,noun
1,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon,abandon,@ b { n d @ n,əbændən,verb
2,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned,abandoned,@ b { n d @ n d,əbændənd,adjective
3,2,ăbăʹſh,F.,NaN,NaN,v.,9.0,19,abash,abash,@ b { S,əbæʃ,verb
4,2,ăbāʹte,F.,NaN,NaN,v.,10.0,19,abate,abate,@ b eI t,əb?t,verb
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10328,2,zĕʹnith,NaN,NaN,NaN,n.,11.0,241,zenith,zenith,z i: n @ T,ziːnəθ,noun
10329,1,zĕſt,NaN,NaN,NaN,n.,13.0,241,zest,zest,z E s t,zɛst,noun
10330,1,zĭnk,NaN,NaN,NaN,n.,14.0,241,zink,zink,z I N k,zɪŋk,noun
10331,3,zōʹdĭac,NaN,NaN,NaN,n.,16.0,241,zodiac,zodiac,z @U 4 i: { k,zoʊɾiːæk,noun
10332,1,zōne,NaN,NaN,NaN,n.,18.0,241,zone,zone,z @U n,zoʊn,noun

## 5. Export

In [50]:
df_final.to_csv("./../data/dataframe/BuchananRich.csv", sep=";", index=False)